{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6 rounded w-36 h-36 object-cover" "Size" "240x240") }}
          <h2 class="h3 mb-6">{{ .Title }}</h2>
          <div class="content text-left{{ if eq .Language.Lang `zh-hans` }} text-indent-2em{{ end }}">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
